@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;600;800&display=swap");

.genres {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  margin: 10px 0;
  overflow: hidden;
  font-size: 12px;
}
.genres li {
  border-radius: 8px;
  padding: 5px;

  background-color: black;
  color: white;
}

.wrap {
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.summary {
  height: 150px;
  overflow: hidden;
  font-size: 14px;
  padding: 10px 5px;
}
